<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Bienvenido a <b>Smartbit</b></h1>
					<h3>Las compras más inteligentes...</h3>
					<br>
	    		</div>
	    		
	    		<div class="col-lg-4">
	    			
	    		</div>
	    		<div class="col-lg-4">
	    			<img class="img-responsive" src="https://en.bitcoin.it/w/images/en/2/29/BC_Logo_.png" alt="">
	    			<br>
	    			<h3 class="text-center">Usa Bitcoins</h3>
	    		</div>
	    		<div class="col-lg-4">
	    			<br>
	    			
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Compra justo en el mejor momento</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img class="imagen" src="https://lh4.ggpht.com/4q9lziII4XQ4lb4ZjceavrHI-gN2fB1MHTXJwRh843I9ilkMWFHwrn1wf1X6NmPiCfw=w300" alt="">
					<h3>Notificaciones</h3>
					<p>Recive notificaciones en el mejor momento para comprar.</p>
				</div>
				<div class="col-lg-4">
					<img  class="imagen" src="http://iwanttoworkatmicrosoft.com/wp-content/uploads/2012/11/graph2.gif" alt="">
					<h3>Predicción</h3>
					<p>Información estimada del bitcoin.</p>
				</div>
				<div class="col-lg-4">
					<img class="imagen" src="http://www.clker.com/cliparts/8/7/f/d/13159476221693154567Cashier%20Symbol.svg.med.png" alt="">
					<h3>Invierte</h3>
					<p>Saber cuando comprar o vender bitcoins.</p>
				</div>
			</div>
			<br>
			<hr>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->
	
	<!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">Smart... QUE!?</h1>
				<br>
				<br>
				
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<h3>Servicios</h3>
					<br>
					<div class="col-lg-4"></div>
				<!-- ACCORDION -->
		            <div class="accordion ac" id="accordion2">
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		                        Predicción
		                        </a>
		                    </div><!-- /accordion-heading -->
		                    <div id="collapseOne" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>Estimos el precio del bitcoin por día o por semana!
								<br>Toma las mejores decisiones!</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		                        Compras online
		                        </a>
		                    </div>
		                    <div id="collapseTwo" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>Compra cosas con bitcoins en el mejor momento para ahorrar dinero</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
		                 <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		                        Notificaciones
		                        </a>
		                    </div>
		                    <div id="collapseThree" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>Recive notificaciones real-time.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		                
		                 <div class="accordion-group">
		                  
		                    <div id="collapseFour" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>			
					</div><!-- Accordion -->
				</div>
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->
	
	
	


	
	<div id="c">
		<div class="container">
			<p>SMARTBIT</a></p>
		
		</div>
	</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.js"></script>
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script>